* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;
  --primary-color: #02799D;
  --title-color: #E1E1E6;
  --text-color: #C4C4CC;
  --shape-color: #202024;
  --border-color: #323238;

  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
}

body {
  font-size: 1.6rem;
  background: var(--bg-color);
  color: var(--text-color);

}

.app {
  width: 121.8rem;

  padding-top: 7.3rem;
  margin-inline: auto;
}

h1 {
  font-size: 5.8rem;
  font-weight: 900;
  color: var(--primary-color);

  margin-bottom: 0.8rem;
}

p.subtitle {
  color: var(--title-color);
  margin-bottom: 6.2rem;
  
  font-size: 3.2rem;
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  column-gap: 6rem;
  row-gap: 4.4rem;
}

.card {
 display: flex;
 flex-direction: column;

 background: var(--shape-color);
 border: 2px solid var(--border-color);
 border-radius: 0.8rem;

 width: 36.6rem;
}


.card img {
  width: 100%;
 border-radius: 0.8rem 0.8rem 0 0;
}

.info {
  padding: 2.2rem;
}

.info strong {
  font-size: 3.6rem;
  font-weight: 800;

}

.info p {
  margin-top: 2.4rem;
  font-size: 2rem;
}