* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;

  --ff-text: 'Roboto', sans-serif;
  
  --red-color-500: #F03E3E;
  
  --green-color-500: #00453A;
  
  --grey-color-300: #DCE2E9;
  --grey-color-600: rgba(73, 80, 87, 0.3);  
  --grey-color-900: #212529;
  
  --blue-color-500: #02799D;
  --blue-color-700: #0C3440;
  --blue-color-900: #040924;

  --white-color: #FFFFFF;
}

body {
  background: var(--blue-color-900);
  height: 100vh;

  display: grid;
  place-items: center;
  font-size: 1.6rem;
}

body * {
  font-family: var(--ff-text);
}

.hide {
  display: none;
}

main {
  width: min(42.8rem, 90%);
  background: var(--white-color);

  border-radius: .6rem;
  padding: 4.8rem 6.4rem 6.4rem;

  margin-top: -12rem;
}

.fieldset-wrapper {
  border: none;
}

.fieldset-wrapper legend {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 4rem;

  margin-bottom: 3.2rem;
}

.input-wrapper input{
  width: 100%;
  background: var(--grey-color-300);
  
  border: 1px solid var(--grey-color-600);
  border-radius: .4rem;

  padding: 1.6rem;
  margin-top: .8rem;
}

.input-wrapper input:focus {
  border: 1px solid var(--blue-color-500);
}

.input-wrapper + .input-wrapper{
  margin-top: 1.6rem;
}

.fieldset-wrapper button {
  width: 100%;
  background: var(--blue-color-500);
  color: var(--white-color);

  border: none;
  border-radius: .4rem;

  font-weight: bold;

  margin-top: 3.2rem;
  padding: 1.6rem;

  display: flex;
  justify-content: center;
}

.fieldset-wrapper button img {
  margin-left: .8rem;
}

#modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  
  width: 100vw;
  height: 100vh;

  display: grid;
  place-items: center;
}

#modal main {
  position: relative;

  width: 36.3rem;
  margin-top: -8rem;
}

#modal main img {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}