* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --ff-title: 'Montserrat', sans-serif;
  --ff-text: 'DM Sans', sans-serif;

  --text-color: #34355B;
  --bg-gradient-color: linar-gradient(45deg,#00DDFB, #00709F);
  --shape-color: #DCE2E9;
  --primary-color:  #7879F1;
  --gray-color-100: #fffcfc;;
}

body {
  background: linear-gradient(287.59deg,#C2E9FB 0%, #A1C4FD 100%);
  font-size: 1.6rem;
  
  display: grid;
  place-items: center;
  height: 100vh;
}

body * {
  font-family: var(--ff-text);
}

button {
  background-color: var(--primary-color);
  color: var(--gray-color-100);
  font-weight: 600;
  border-radius: .4rem;

  cursor: pointer;

  transition: background-color .3s;
}

button:hover {
  background-color: #6464ca;
}

.hide {
  display: none;
}

main {
  background: white;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
  border-radius: .6rem;
  padding: 4.8rem 6.4rem 6.4rem;
  
  width: min(42.8rem, 90%);
  
  margin-top: -12rem;
  
  text-align: center;
}

/* screen1 */
h1 {
  font-family: var(--ff-title);
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h1, p {
  color: var(--text-color);
}


p {
  opacity: .8;
}

form {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

input, button {
  border: none;
  padding: 1.6rem;
}

input {
  background-color: var(--shape-color);
  width: 5rem;
  border-radius: .4rem 0 0 .4rem;
}


.screen1 button {
  border-radius: 0 .4rem .4rem 0;
}

/* Screen2 */
h2 {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 3.2rem;
}


